<!-- <!DOCTYPE html>
<html>
<head>
    <title>My Template</title>
</head>
<body>
    <h1>My Dictionary</h1>
    <ul>
        {% for key, value in my_dictionary.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
</body>
</html> -->






<!DOCTYPE html>
<html>
<head>
    <title>Image with Web Link</title>
</head>
<body>
    <h1>Image with Web Link</h1>
    <a href="https://www.example.com">
        <img src="https://media.foundit.in/trex/public/theme_3/dist/images/hero-section-desktop-guest.svg?8dbf3342cdc95b7e85dd4f4eec12fc75" alt="Example Image">
    </a>
</body>
</html>


