<!DOCTYPE html>
<html>
<head>
    <title>Custom Image Placement - Example</title>
    <style>
        body {
            height: 100vh;
        }
        
        .image {
            width: 300px;
            height: 200px;
            position: absolute;
            top: 50%;
            left: 60%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <h1>Custom Image Placement - Example</h1>
    {% if image_url %}
        <img src="{{ image_url }}" alt="Custom Placement Image" class="image">
    {% endif %}
</body>
</html>